@media screen and (min-width:1200px) {

    .subscribe {
        margin-right: auto;
        margin-left: auto;
        max-width: 1200px;
        padding: 72px 15px;
        background-image: url(../img/subcribe-desktop@1x.jpg);
    }

    .subscribe-title {
        font-size: 24px;
        line-height: 1.17;
    }
}

.subscribe {
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
    padding: 72px 15px;
    background-image: url(../img/subcribe-desktop@1x.jpg);
}

.subscribe-container {
    max-width: 467px;
    margin-right: auto;
    margin-left: auto;
}

.subscribe-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: var(--white);
}

.subscribe-subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    letter-spacing: -0.02em;
    color: var(--white);
}